<div class="text-lg" [class]="icon[item().type].color">
  <span class="material-symbol symbol-filled" aria-hidden="true">
    {{ icon[item().type].icon }}
  </span>
</div>

<div class="flex-1 min-w-0">
  <p class="font-medium leading-5 mb-1 text-sm">{{ item().title }}</p>
  <p class="text-xs text-muted-foreground">{{ item().message }}</p>
</div>

<button
  type="button"
  class="p-1.5 rounded-full hover:bg-muted transition-colors flex items-center justify-center"
  (click)="onClose()"
>
  <span class="material-symbol symbol-filled" aria-hidden="true">close</span>
</button>

@if (item().duration > 0) {
  <div class="notification__progress" [style.animation-duration.ms]="item().duration"></div>
}
